astroid>=2.14.0
libcst>=1.1.0
typing-extensions>=4.5.0 
astor>=0.8.1
tqdm==4.64.1
torch>=1.8.0
transformers>=4.5.0
torch-geometric>=2.0.0
numpy>=1.20.0
matplotlib>=3.4.0 
huggingface_hub[hf_xet]>=0.16.4,<0.17
hf_xet>=0.1.0
tensorboard>=2.0.0
scikit-learn
focal-loss
pandas==2.2.2
numpy==1.26.4
openai